.add-plan {
  background-color: @background-add-plan;
}

.add-plan__title {
  .section-title-form();
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: @basic-blue-light;
}

.add-plan__first-step {
  background-color: @white;
}

.add-plan__text {
  font-size: 16px;
  line-height: 22px;
  color: @special-grey;
}

.add-plan__title-counter {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: @basic-blue-light;
}

.add-plan__title-measure {
  opacity: 0.3;
}

.add-plan__child {
  font-size: 15px;
  line-height: 15px;
  color: @basic-blue-light;
}

.add-plan__mounth {
  .section-title-form();
}

.add-plan__date-table {
  border-collapse: collapse;
}

.add-plan__item {
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
  border: 1px solid black;
  padding: 8px;

  &--days-week {
    border: none;
  }

  &--days-weekends {
    color: @color-weekends;
  }

  &--past-days {
    opacity: 0.3;
  }

  &--selected-days {
    color: @white;
    background-color: @basic-blue-dark;
  }

  &--future-days {
    color: @basic-blue-dark;
    background-color: @background-form-direction;
  }

  &--today {
    border: 2px solid @color-weekends;
  }
}

.add-plan__country {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: @basic-blue-dark;
}

.add-plan__country-letter-a-list {
  font-size: 16px;
  line-height: 22px;
  color: @special-grey;
}

.add-plan__next-step {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-blue-dark;
  background-color: @basic-yellow;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 15px;
}


.add-plan__last-step {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: @basic-blue-dark;
  text-decoration: none;
}

.add-plan__comment-title {
  color: @basic-blue-dark;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
