.address {
  background-color: @basic-yellow;
  color: @basic-blue-light;
  padding-top: 45px;
  position: relative;
}

.address__rout {
  border: 3px solid @basic-blue-light;
  padding-bottom: 20px;
  padding-top: 18px;
  padding-left: 19px;
  display: flex;
  flex-direction: row;
  position: relative;

  &:hover {
    background-color: @color-alphabet-cell;
    color: @white;
  }

  &:active {
    opacity: 0.9;
  }
}

.address__svg {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: @background-svg;
  margin-right: 15px;
}

.address__street {
  width: 145px;
}

.address__rout-svg {
  margin-right: 9px;
  margin-top: 3px;
}

.address__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 33px;
  display: flex;
}

.address__title::after {
  content: "";
  width: 100%;
  height: 30px;
  background-color: @basic-blue-dark;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 35px 35px;
}

.address__title::before {
  content: "";
  width: 100%;
  height: 35px;
  background-color: @basic-yellow;
  position: absolute;
  bottom: -35px;
  left: 0;
  border-radius: 0 0 35px 35px;
}

@media (min-width: @tablet-width) {
  .address__title::after {
    height: 60px;
    border-radius: 0 0 60px 60px;
  }

  .address__title::before {
    height: 58px;
    border-radius: 0 0 55px 55px;
    bottom: -55px;
  }

  .address__title {
    font-size: 28px;
    line-height: 28px;
    width: auto;
    margin-top: 58px;
    margin-left: 35px;
    padding-top: 2px;
    align-items: center;
  }

  .address__area {
    padding-bottom: 30px;
  }

  .address__street {
    width: auto;
  }

  .address__svg {
    width: 68px;
    height: 68px;
    margin-right: 26px;
  }

  .address__rout {
    width: 567px;
    margin-top: 44px;
    margin-left: 35px;
    padding-top: 24px;
    padding-left: 35px;
    padding-bottom: 26px;

    &::after {
      padding: 0;
      left: -406px;
      top: -115px;
      width: 68px;
      height: 43px;
      padding-top: 25px;
    }

    &::before {
      margin-right: 22px;
    }
  }
}

@media (min-width: @desktop-width) {
  .address__rout {
    width: 275px;
    margin-left: 145px;
    margin-top: 58px;
    margin-bottom: 10px;

    &::after {
      top: -8px;
      left: -755px;
      width: 90px;
      height: 60px;
      padding-top: 30px;
    }
  }

  .address__area {
    display: flex;
    padding-top: 18px;
    padding-bottom: 0;
  }

  .address__title {
    margin-left: 223px;
    margin-top: 44px;
    margin-bottom: 0;

    &::before {
      height: 55px;
      border-radius: 0 0 55px 55px;
      bottom: -50px;
    }
  }

  .address__rout-svg {
    margin-right: 20px;
    margin-top: 6px;
  }

  .address__svg {
    width: 90px;
    height: 90px;
    margin-right: 31px;
  }

  .address__svg-item {
    width: 42px;
    height: 42px;
  }
}
