.address__area {
  background-color: @basic-yellow;
  color: @basic-blue-light;
  margin-bottom: 30px;
}

.address__rout {
  border: 2px solid @basic-blue-light;
}

.address__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
