.alphabet {
  border-collapse: collapse;
}

.alphabet__cell {
  padding: 12px 17px;
  color: @basic-blue-dark;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid @color-border;

  &--selected-add-plan {
    color: @background-form-direction;
  }

  &--filter {
    background-color: @white;
  }

  &--selected-filter-country {
    background-color: @basic-blue-light;
    color: @white;
  }
}
