.contacts-list {
  .list-rules();
}

.contacts-list__item {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;

  &--feedback {
    color: @basic-yellow;
  }
}

.contacts-list__tel,
.contacts-list__email {
  text-decoration: none;
  color: @basic-blue-dark;

  &--feedback {
    color: @basic-yellow;
  }
}
