.country-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-blue-light;

  &--sri-lanka::before {
    content: url("../img/sri-lanka.jpg");
  }

  &--thailand::before {
    content: url("../img/flag-thailand-mobile.jpg");
  }

  &--seychelles::before {
    content: url("../img/seychelles.jpg");
  }

  &--belgium::before {
    content: url("../img/belgium.jpg");
  }

  &--czech::before {
    content: url("../img/flag-czech-mobile.jpg");
  }
}
