.country-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-blue-light;

  &--sri-lanka::before {
    content: url("../img/sri-lanka.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sri-lanka@2x.jpg");
    }
  }

  &--thailand::before {
    content: url("../img/flag-thailand-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flag-thailand-mobile@2x.jpg");
    }
  }

  &--seychelles::before {
    content: url("../img/seychelles.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/seychelles@2x.jpg");
    }
  }

  &--belgium::before {
    content: url("../img/belgium.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/belgium@2x.jpg");
    }
  }

  &--czech::before {
    content: url("../img/flag-czech-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flag-czech-mobile@2x.jpg");
    }
  }

  &--sri-lanka-catalog::before {
    content: url("../img/sri-lanka-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sri-lanka-mobile-catalog@2x.jpg");
    }
  }

  &--thailand-catalog::before {
    content: url("../img/thailand-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/thailand-mobile-catalog@2x.jpg");
    }
  }

  &--seychelles-catalog::before {
    content: url("../img/seychelles-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/seychelles-mobile-catalog@2x.jpg");
    }
  }

  &--belgium-catalog::before {
    content: url("../img/belgium-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/belgium-mobile-catalog@2x.jpg");
    }
  }

  &--czech-catalog::before {
    content: url("../img/czech-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/czech-mobile-catalog@2x.jpg");
    }
  }

  &--usa-catalog::before {
    content: url("../img/usa-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/usa-mobile-catalog@2x.jpg");
    }
  }

  &--australia-catalog::before {
    content: url("../img/australia-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/australia-mobile-catalog@2x.jpg");
    }
  }

  &--dominica-catalog::before {
    content: url("../img/dominica-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/dominica-mobile-catalog@2x.jpg");
    }
  }

  &--united-kingdom-catalog::before {
    content: url("../img/united-kingdom-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/united-kingdom-mobile-catalog@2x.jpg");
    }
  }

  &--germany-catalog::before {
    content: url("../img/germany-mobile-catalog.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/germany-mobile-catalog@2x.jpg");
    }
  }
}

@media (min-width: @tablet-width) {
  .country-item {
    &--index {
      margin-right: 20px;
    }

    &--sri-lanka-catalog::before {
      content: url("../img/sri-lanka-mobile-catalog-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/sri-lanka-mobile-catalog-tablet@2x.jpg");
      }
    }

    &--thailand-catalog::before {
      content: url("../img/thailand-mobile-catalog-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/thailand-mobile-catalog-tablet@2x.jpg");
      }
    }

    &--seychelles-catalog::before {
      content: url("../img/seychelles-tablet-catalog.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/seychelles-tablet-catalog@2x.jpg");
      }
    }

    &--belgium-catalog::before {
      content: url("../img/belgium-tablet-catalog.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/belgium-tablet-catalog@2x.jpg");
      }
    }

    &--czech-catalog::before {
      content: url("../img/czech-tablet-catalog.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/czech-tablet-catalog@2x.jpg");
      }
    }

    &--usa-catalog::before {
      content: url("../img/usa-tablet-catalog.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/usa-tablet-catalog@2x.jpg");
      }
    }

    &--australia-catalog::before {
      content: url("../img/australia-tablet-catalog.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/australia-tablet-catalog@2x.jpg");
      }
    }

    &--dominica-catalog::before {
      content: url("../img/dominica-tablet-catalog.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/dominica-tablet-catalog@2x.jpg");
      }
    }

    &--united-kingdom-catalog::before {
      content: url("../img/united-kingdom-tablet-catalog.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/united-kingdom-tablet-catalog@2x.jpg");
      }
    }

    &--germany-catalog::before {
      content: url("../img/germany-tablet-catalog.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/germany-tablet-catalog@2x.jpg");
      }
    }
  }
}
