.direction__text {
  .section-text();
  color: @special-grey;
}

.direction__title {
  .section-title();
}

.direction__country {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: @black;
}

.direction__subtitle {
  font-size: 16px;
  line-height: 18px;
  color: @direction-subtitle;
}

.direction__people {
  font-size: 16px;
  line-height: 20px;
  color: @direction-subtitle;
}
