.feedback {
  background-color: @basic-blue-dark;
}

.feedback__title {
  .section-title();
}

.feedback__text {
  .section-text();
  color: @white;
  text-align: center;
}

.feedback__sign-in {
  text-decoration: none;
  color: @basic-yellow;
}
