.fellow-travelers {
  background-color: @basic-blue-dark;
}

.fellow-travelers__title {
  .section-title();
}

.fellow-travelers__text {
  .section-text();
  color: @white;
}

.fellow-travelers__slogan {
  .section-slogan();
  color: @white;
}

.fellow-travelers__item {
  background-color: @white;
}

.fellow-travelers__user-name {
  color: @basic-blue-light;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
}

.fellow-travelers__hobbies {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: @special-grey;
}

.fellow-travelers__list {
  .list-rules();
}

.fellow-travelers__country-list {
  .list-rules();
}


@media (min-width: @tablet-width) {
  .fellow-travelers__list {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .fellow-travelers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  .fellow-travelers__list {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }

  .fellow-travelers__more {
    width: 120px;
  }
}
