.filter-country {
  background-color: @background-filter-country;
}

.filter-country__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  background-color: @basic-blue-dark;
}

.filter-country__link {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  text-decoration: none;
}

.filter-country__title-section {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-blue-dark;
}

.filter-country__continents-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-blue-dark;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.filter-country-a-list__item {
  font-size: 16px;
  line-height: 22px;
  color: @special-grey;
  list-style: none;
}

.filter-country__turn {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: @basic-blue-dark;
  background-color: @background-button-turn;
}
