.ideal-companion {
  background-color: @basic-yellow;
  border-radius: 20px;
}

.ideal-companion__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: @basic-blue-light;
}

.ideal-companion__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-blue-light;
}

.ideal-companion__preference {
  font-size: 15px;
  line-height: 20px;
  color: @black;
}

.ideal-companion__show {
  background-color: @white;
  color: @basic-blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 72px;
  border-radius: 25px;
}

.ideal-companion__list {
  .list-rules();
}

.ideal-companion__item-wrap {
  .list-rules();
}
