.page-footer__text {
  font-size: 16px;
  line-height: 16px;
  color: @special-grey;
}

.page-footer__socials {
  display: flex;
  flex-direction: row;
  .list-rules();
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
  }
}
