.socials__item {
  &--facebook {
    content: url("../img/icon_facebook.svg");
  }

  &--vk {
    content: url("../img/icon_vkontakte.svg");
  }

  &--instagram {
    content: url("../img/icon_instagram.svg");
  }

  &--footer-facebook,
  &--footer-vk,
  &--footer-instagram {
    background-color: @basic-yellow;
    border-radius: 50%;

    &:hover {
      background-color: @special-yellow-dark;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--footer-facebook {
    padding: 12px 17px;
  }

  &--footer-vk {
    padding: 16px 11px;
  }

  &--footer-instagram {
    padding: 13px;
  }
}

@media (min-width: @tablet-width) {
  .socials__item {
    width: 22px;
    height: 22px;

    &--footer-facebook,
    &--footer-vk,
    &--footer-instagram {
      padding: 20px;
    }
  }
}
