.ways-travel {
  display: flex;
  margin-left: 35px;
  padding-bottom: 18px;
}

.ways-travel__item {
  opacity: 0.3;
  margin-right: 13px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }


  &--plane {
    content: url("../img/icon_plane.svg");
  }

  &--bus {
    content: url("../img/icon_bus.svg");
  }

  &--bicycle {
    content: url("../img/icon_bicycle.svg");
    opacity: 1;
  }

  &--run {
    content: url("../img/icon_run.svg");
  }

  &--active {
    opacity: 1;
  }

  &--form,
  &--catalog {
    background-color: @white;
    border-radius: 50%;
    margin-right: 0;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 7px;
    width: 17px;

    &.ways-travel__item--plane {
      padding-left: 8px;
      padding-right: 8px;
      width: 16px;
    }
  }

  &--catalog {
    background-color: @background-form-direction;
  }
}

@media (min-width: @tablet-width) {
  .ways-travel__item {
    &--form {
      padding-right: 10px;
      width: 25px;

      &.ways-travel__item--plane {
        width: 25px;
      }
    }

    &--catalog {
      background-color: transparent;
      width: 20px;
    }
  }
}
