@white: #FFFFFF;
@black: #000000;
@basic-yellow: #FFD74B;
@special-yellow-dark: #FFBD30;
@basic-blue: #161C35;
@basic-blue-light: #1D2E5B;
@basic-blue-dark: #192144;
@special-orange: #FF8D30;
@special-orange-light: #FFA530;
@special-grey: #444444;
@background-add-profile: #E6E8F1;
@link-add-profile: #132576;

@direction-subtitle: lighten(@special-grey, 40%);
