@white: #FFFFFF;
@black: #000000;
@basic-yellow: #FFD74B;
@special-yellow-dark: #FFBD30;
@basic-blue: #161C35;
@basic-blue-light: #1D2E5B;
@basic-blue-dark: #192144;
@special-orange: #FF8D30;
@special-orange-light: #FFA530;
@special-grey: #444444;
@grey-toggle: #CCCCCC;
@background-add-profile: #E6E8F1;
@link-add-profile: #132576;
@background-main-nav-tablet: #182044;

@flag-offline: #F97676;
@flag-online: #81E31E;

@border-item-add-plan: #E1E3E9;
@background-svg: #121936;

@direction-subtitle: lighten(@special-grey, 40%);

//form

@background-form-direction: #EDEFF6;
@background-my-plans: #DFE3F0;
@background-add-plan: #D4D9EB;
@color-weekends: #FF5C23;
@color-border: #CBCED9;
@checkbox-border: #959BB2;
@day-box: #C4C4C4;
@button-form-hover: #D1D7E9;

//catalog

@background-filter-country: #E2E5F2;
@background-button-turn: #D6DAED;
@border-list: #F3C72B;

//popup-business-rates

@box-shadow-mobile: rgba(29, 46, 91, 0.14);
@box-shadow-tablet: rgba(29, 46, 91, 0.18);
@background-button-popup: #F3F4F8;
@background-button-popup-hover: #9badf5;
@background-button-popup-active: #f19488;
@border-button-popup-active: #aa2413;

//hover

@svg-tel-hover: #F26926;
@background-icon-like: #F9EAEA;
@fill-icon-like: #F02323;
@border-catalog-title: #EDEFF6;
@ideal-companion-input: #CBCED9;
@background-alphabet-cell: #E2E5F2;
@color-alphabet-cell: #192144;
@filter-country-turn-hover: #C8CEE8;
@form-direction-hover: #AEB4CB;
@tooltip-background: #101D41;
